@tailwind base;
@tailwind components;
@tailwind utilities;
/* Remove o fundo azul/branco automático do Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #020617 inset !important; /* Cor do slate-950 */
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}